@font-face {
  font-family: 'Cal Sans';
    src: url('../ASSETS/CalSans-SemiBold.woff2') format('woff2'),
         url('../ASSETS/CalSans-SemiBold.woff') format('woff')
         url("../ASSETS/CalSans-SemiBold.ttf") format('ttf');      
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Regular style */
}
.homepage {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh; /* Ensure full height of the viewport */
    
  }
  .sdv-heading{
    font-size: 4.4rem;
    justify-content:center ;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
  }
  .flex-1 img{
    width: 78%;
    align-items: flex-end;
    justify-content: flex-end;
  }

   @media (width: 1024px){
    .sdv-heading{
      font-size: 72px;
      margin-top: 130px;
     }
     .flex-1 img{
      width: 94%;
      align-items: center;
      margin-left: 20px;
  
    }
   }
   @media (width: 1280px){
    .sdv-heading{
      font-size: 72px;
      margin-top: 50px;
     }
     .flex-1 img{
      width: 94%;
      align-items: center;
      margin-left: 20px;
  
    }
   }
   
   @media (width:820px){
    .sdv-heading{
      font-size: 72px;
      margin-top: 120px;
     }
     .flex-2 img{
      margin-left: -88px;
     }
     .dopamine p{
      margin-top: 30px;
     }
     .flex-1 img{
      width: 94%;
      align-items: center;
      margin-left: 20px;
  
    }
   }
   @media (min-width: 822px) and (max-width: 860px){
    .sdv-heading{
      font-size: 72px;
      margin-top: 120px;
     }
     .flex-2 img{
      margin-left: -88px;
     }
     .dopamine p{
      margin-top: 30px;
     }
     .flex-1 img{
      width: 94%;
      align-items: center;
      margin-left: 20px;
  
    }
   }
   @media (width: 912px){
    .sdv-heading{
      font-size: 72px;
      margin-top: 120px;
     }
     .dopamine p{
      margin-top: 20px;
     }
     .flex-2 img{
      margin: -50px;
     }
     .flex-1 img{
      width: 94%;
      align-items: center;
      margin-left: 20px;
  
    }
   }

   @media (width: 540px){
    .sdv-heading{
      font-size: 72px;
      margin-top: 120px;
     }
     .flex-1 img{
      width: 94%;
      align-items: center;
      margin-left: 20px;
  
    }
    .dopamine p{
      margin-top: 30px;
    }
   }

  .flex-2{
    width: 50%;
    margin-left: 320px;
    margin-top: -48px;
    margin-bottom: -120px;
  }
  .dopamine{
    margin-bottom: -100px;
  }
  .dopamine p{
    font-size: 3rem;
    text-align: center;
    font-family: 'Cal Sans', sans-serif;
    letter-spacing: 2px;
  }
  .dopamine span{
    font-size: 3rem;
    color: red;
    font-family: 'Cal Sans', sans-serif;
    letter-spacing: 1px;
  }
  /* Responsive styles */

@media (max-width: 768px) {
  .flex-2 {
    width: 70%;
    margin-left: 100px; /* Adjust to fit smaller screens */
  }

  .dopamine p {
    font-size: 2rem; /* Reduce font size for better readability */
  }
}

@media (max-width: 480px) {
  .sdv-heading{
    font-size: 72px;
    margin-top: 20px;
   }
   .flex-1 img{
    width: 88%;
    align-items: center;
 
  }
  .flex-2 {
    width: 90%;
    margin-left: 10px; /* Minimize margins for small screens */
  }

  .dopamine p {
    font-size: 1.5rem; /* Smaller font for compact screens */
    text-align: center;
    margin-top:50px ; /* Keep centered for small screens */
  }

  .dopamine span {
    font-size: 1.5rem; /* Match the smaller paragraph size */
  }
}
  
 @media (max-width: 768px) {
   .sdv-heading{
    font-size: 72px;
   }
   .flex-1 img{
    width: 88%;
    align-items: center;
    margin-left: 20px;

  }
  }
