.regbutton {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .regbutton::before,
  .regbutton::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1.4px solid #7D8082;
    transition: all 2s ease;
  }
  
  .regbutton::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .regbutton::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .regbutton:active,
  .regbutton:focus {
    outline: none;
  }
  
  .regbutton:active::before,
  .regbutton:active::after {
    right: 3px;
    left: 3px;
  }
  
  .regbutton:active::before {
    top: 3px;
  }
  
  .regbutton:active::after {
    bottom: 3px;
  }
  
  .regbutton_lg {
    position: relative;
    display: block;
    padding: 12.4px 24px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .regbutton_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .regbutton_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .regbutton_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: rgb(192, 53, 53);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .regbutton_text {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.4px;
  }
  
  .regbutton:hover {
    color: red;
  }
  
  .regbutton:hover .regbutton_sl {
    width: calc(100% + 15px);
  }
  
  .regbutton:hover .regbutton_lg::after {
    background-color: #fff;
  }
  
  @media (max-width: 480px) {
    .regbutton {
      padding: 6px;
      font-size: 12px;
    }
  
    .regbutton_lg {
      padding: 8px 17px;
    }
  
    .regbutton_text {
      font-size: 14px;
    }
  
    .regbutton_sl {
      left: -5px;
    }
  }