.gallery-container {
  background: linear-gradient(to bottom, rgb(21, 23, 26), rgb(15, 15, 15));
  color: #f5f5f5;
  padding: 3rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.gallery-title {
  font-size: 3rem;
  color: rgb(202, 52, 53);
  font-weight: bold;
  margin-bottom: 2.5rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gallery-title::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(202, 52, 53);
  transition: transform 0.5s ease;
}

.gallery-title:hover::after {
  transform: scaleX(1.2);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  border: 4px solid white; /* Static white border */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the square area */
  display: block;
  border-radius: 15px;
}

.gallery-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(202, 52, 53);
  transition: width 0.4s ease;
}

.gallery-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(202, 52, 53);
  transition: width 0.4s ease;
}

.gallery-item:hover::before {
  width: 100%;
}

.gallery-item:hover::after {
  width: 100%;
}

.gallery-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border: 4px solid transparent; /* Hide static white border on hover */
}

.expanded-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expanded-view img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
  animation: zoomIn 0.4s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
  color: rgb(202, 52, 53);
  cursor: pointer;
  animation: fadeIn 0.5s ease;
}

.close-btn:hover {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-item img {
    height: 250px; /* Adjusted for smaller screens */
  }
}
