/* General Reset */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  /* line-height: 1.6;
  height: 100vh; */
} 