.why-sdv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.gallery {
    flex: 1 1 50%; /* Left half for images */
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Add gap between images */
}

.sdv-gallery-item {
    flex: 1 1 45%; /* Each image takes 45% of the width */
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.sdv-gallery-item img {
    width: 100%;
    height: auto;
}

.text-section {
    flex: 1 1 50%; /* Right half for text, matching image width */
    display: flex;
    flex-direction: column; /* Make the text section vertical stack */
   /* Center the content vertically */
}

.text-section h2 {
    margin-bottom: 20px;
    background: rgb(193, 0, 0); /* Added gradient to heading */
    -webkit-background-clip: text; 
    color: transparent; /* Make the text transparent so the gradient shows */
   /* Increase the size of the heading for more impact */
}

.text-section ul {
    list-style-type: none;
    padding: 0;
}

.text-section li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
    -webkit-background-clip: text;
    color: #FAFAFA; /* Make the text transparent so the gradient shows */
}

.text-section li .arrow {
    margin-right: 8px;
    color: #FAFAFA; /* Arrow points text is now white */
    font-size: 1.5em; /* Increase arrow size */
}

.text-section li span {
    color: #FAFAFA; /* The text after the arrow points will be white */
}

.text-section li::before {
    content: '→'; 
    margin-right: 8px;
    color: rgb(193, 0, 0); /* Arrow points are now white */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .why-sdv-container {
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .sdv-gallery-item {
        flex: 1 1 45%; /* Two images per row */
    }

    .text-section {
        flex: 1 1 100%;
        margin-top: 20px; /* Add some space between images and text */
    }
}
